header{
  display: flex;
  width: 100%;
  height: 60px;
  background: #000A83;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 50px;
}

@media (max-width: 460px){
  header{
  gap: 10px;
  font-size: 13px;
}

}