.main {
  background: #4b54d1;
  height: 100vh;
  width: auto;
}

.list-wrapper {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  text-align: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 600px){
  .main{
    background: #4b54d1;
    height: auto;
    width: auto;
    padding-bottom: 60px;
  }
  .list-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: start;
  }
}

@media (600px < width < 1060px){
  .main{
    background: #4b54d1;
    height: auto;
    width: auto;
    padding-bottom: 60px;
  }
  .list-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: start;
  }
}
